body {
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
}

body a {
  text-decoration: none;
}

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-auto-rows: minmax(100vh, auto);
}

#navigation {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  grid-auto-flow: column;
  display: -ms-grid;
  display: grid;
  height: 10vh;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 20;
}

#navLogo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 10px;
}

#navLogo a {
  color: #FF8200;
}

#navLinks {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-right: 10px;
  font-size: 20px;
}

#navLinks a {
  color: #FF8200;
  font-style: italic;
}

#landingPage {
  height: 90vh;
  padding-top: 10vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -ms-grid;
  display: grid;
  background: url(../images/meamber.jpg);
  background-size: cover;
  position: relative;
  z-index: 2;
}

#landingPage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 3;
}

#welcomeText {
  z-index: 4;
}

#welcomeUl {
  color: #FFFFFF;
  margin: 45% 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
}

#welcomeUl li {
  list-style: none;
  letter-spacing: 5px;
  font-style: italic;
  -webkit-animation: blink 5s ease-out infinite;
          animation: blink 5s ease-out infinite;
}

#welcomeUl li:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

#welcomeUl li:nth-child(2) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

#welcomeUl li:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

#welcomeUl li:nth-child(4) {
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

#welcomeUl li:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#welcomeUl li:nth-child(6) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

#welcomeUl li:nth-child(7) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#welcomeUl li:nth-child(8) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

@-webkit-keyframes blink {
  0% {
    color: #FFFFFF;
    text-shadow: none;
  }
  18% {
    color: #FFFFFF;
    text-shadow: none;
  }
  20% {
    color: #FF8200;
    text-shadow: 0 0 7px #FF8200, 0 0 20px #FF8200;
  }
  30% {
    color: #FFFFFF;
    text-shadow: none;
  }
  35% {
    color: #FF8200;
    text-shadow: 0 0 7px #FF8200, 0 0 20px #FF8200;
  }
  70% {
    color: #FFFFFF;
    text-shadow: none;
  }
  85% {
    color: #FF8200;
    text-shadow: 0 0 7px #FF8200, 0 0 20px #FF8200;
  }
  90% {
    color: #FFFFFF;
    text-shadow: none;
  }
  90% {
    color: #FFFFFF;
    text-shadow: none;
  }
}

@keyframes blink {
  0% {
    color: #FFFFFF;
    text-shadow: none;
  }
  18% {
    color: #FFFFFF;
    text-shadow: none;
  }
  20% {
    color: #FF8200;
    text-shadow: 0 0 7px #FF8200, 0 0 20px #FF8200;
  }
  30% {
    color: #FFFFFF;
    text-shadow: none;
  }
  35% {
    color: #FF8200;
    text-shadow: 0 0 7px #FF8200, 0 0 20px #FF8200;
  }
  70% {
    color: #FFFFFF;
    text-shadow: none;
  }
  85% {
    color: #FF8200;
    text-shadow: 0 0 7px #FF8200, 0 0 20px #FF8200;
  }
  90% {
    color: #FFFFFF;
    text-shadow: none;
  }
  90% {
    color: #FFFFFF;
    text-shadow: none;
  }
}

#myName {
  margin-left: 3%;
  z-index: 4;
}

.myName {
  font-size: 0;
  color: transparent;
  background-image: url(../images/whiteText.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat-x;
  -webkit-animation: revealText1 5s ease-in-out;
          animation: revealText1 5s ease-in-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.myName span {
  color: #FF8200;
}

.myNameP {
  font-size: 0;
  font-style: oblique;
  color: transparent;
  background-image: url(../images/whiteText.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat-x;
  -webkit-animation: revealText1 5s ease-in-out;
          animation: revealText1 5s ease-in-out;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin-left: 7%;
}

.myNameP span {
  color: #FF8200;
  font-style: oblique;
}

@-webkit-keyframes revealText1 {
  0% {
    font-size: 2em;
    background-size: 0px;
    background-position-y: 0%;
  }
  10% {
    background-size: 10px;
    background-position-y: 0%;
  }
  35% {
    background-position-y: 100%;
  }
  45% {
    background-position-y: 100%;
  }
  70% {
    background-size: 10px;
    background-position-y: 0%;
  }
  100% {
    background-size: 100%;
    font-size: 2em;
  }
}

@keyframes revealText1 {
  0% {
    font-size: 2em;
    background-size: 0px;
    background-position-y: 0%;
  }
  10% {
    background-size: 10px;
    background-position-y: 0%;
  }
  35% {
    background-position-y: 100%;
  }
  45% {
    background-position-y: 100%;
  }
  70% {
    background-size: 10px;
    background-position-y: 0%;
  }
  100% {
    background-size: 100%;
    font-size: 2em;
  }
}

#showroomPage {
  height: 90vh;
  padding-top: 10vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/gallery.jpg);
  background-size: cover;
  background-position: center;
}

#slideShow {
  margin: 0 auto;
  width: 70%;
  max-width: 70%;
  height: 70%;
  text-align: center;
}

#slideShow input[type=radio] {
  display: none;
}

#slideShow label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  margin-top: 25.5%;
  padding: 2%;
  border: 3px solid #353638;
  background-color: #353638;
  position: relative;
  z-index: 1;
}

.outer {
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: #353638 0 8px 6px 8px;
          box-shadow: #353638 0 8px 6px 8px;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0%;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slides .inner {
  -webkit-transition: margin-left 1s cubic-bezier(0.8, 0, 0.2, 1);
  transition: margin-left 1s cubic-bezier(0.8, 0, 0.2, 1);
  width: 400%;
  height: 170px;
  line-height: 0;
}

#slides .slide {
  width: 25%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slide1 {
  background-color: #FFFFFF;
}

.slide2 {
  background-color: #FFFFFF;
}

.slide3 {
  background-color: #FFFFFF;
}

#slideControlButtons {
  margin: 10px 0 0 0;
  text-align: center;
}

#slideControlButtons label {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: #353638;
  margin: 0 15px;
}

#slide1:checked ~ #slideControlButtons label:nth-child(1),
#slide2:checked ~ #slideControlButtons label:nth-child(2),
#slide3:checked ~ #slideControlButtons label:nth-child(3) {
  background-color: #FF8200;
}

.projectCard {
  width: 220px;
  height: 155px;
  margin-left: -4%;
  padding: 4%;
  position: relative;
}

.cardTitle {
  position: absolute;
  width: 100%;
  height: 20px;
  padding-top: 5%;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.cardGallery {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
}

#projectCard1 {
  background: url(../images/p1.jpg);
  background-size: cover;
}

#cardTitle1 {
  position: absolute;
  bottom: 13px;
  left: 0;
  font-size: 20px;
}

#cardGallery1 {
  color: #FFFFFF;
}

#cardGallery1 a {
  color: #FFFFFF;
}

#cardGallery1 i:hover {
  color: #FF8200;
}

#gh1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#web1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#projectCard2 {
  background: url(../images/p2.jpg);
  background-size: cover;
}

#cardTitle2 {
  position: absolute;
  bottom: 0;
  left: -15%;
}

#cardGallery2 {
  color: #FFFFFF;
}

#cardGallery2 a {
  color: #FFFFFF;
}

#cardGallery2 i:hover {
  color: #FF8200;
}

#gh2 {
  position: absolute;
  top: -45px;
  left: 3px;
}

#web2 {
  position: absolute;
  top: -10px;
  left: 3px;
}

#sagaPage {
  height: 90vh;
  padding-top: 10vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  background: url(../images/graywall.jpg);
  background-size: cover;
  position: relative;
}

#aboutMe {
  padding-top: 2%;
  font-size: 19px;
  color: #FFFFFF;
}

#aboutMe img {
  height: 100%;
  width: 100%;
}

.circleImage {
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

#circleImage1 {
  float: left;
  margin: 20px;
  shape-outside: circle();
}

#imageDiv1 {
  width: 200px;
  height: 200px;
  margin: 10% auto;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cube {
  -webkit-animation: rotateCube 20s ease-in-out infinite;
          animation: rotateCube 20s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0;
          transform-origin: 100px 100px 0;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.side1 {
  background: url(../images/all1.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.side2 {
  background: url(../images/em1.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.side3 {
  background: url(../images/meem.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.side4 {
  background: url(../images/em2.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.side5 {
  background: url(../images/amberem1.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.side6 {
  background: url(../images/all2.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

@-webkit-keyframes rotateCube {
  from, to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
  }
}

@keyframes rotateCube {
  from, to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
  }
}

#circleImage2 {
  background: url(../images/flag.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  margin: 10px;
  width: 130px;
  height: 130px;
  shape-outside: circle();
  border-radius: 50%;
}

#networkPage {
  height: 90vh;
  padding-top: 10vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#networkPage video {
  width: 100%;
}

#earth {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-aspect-ratio: 16 / 9) {
  #earth {
    width: 100%;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  #earth {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #earth {
    display: none;
  }
  #networkPage {
    background: url("../images/homeoffice.jpg");
    background-color: white;
    background-size: cover;
  }
}

.contactForm {
  width: 85%;
  height: 65%;
  max-width: 600px;
  background: #353638;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
}

.contactForm h1 {
  font-weight: 300;
  margin-bottom: 5%;
  font-style: oblique;
  font-size: 25px;
  color: #FFFFFF;
}

#nameField, #emailField, #subjectField, #messageField {
  margin: 3% 0 3% 0;
  padding: 1% 2%;
}

#nameField label, #emailField label, #subjectField label, #messageField label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-style: oblique;
  font-weight: 300;
  color: #FFFFFF;
}

#nameField input, #nameField textarea, #emailField input, #emailField textarea, #subjectField input, #subjectField textarea, #messageField input, #messageField textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 2%;
  border-top: 2px solid #FF8200;
  color: #FFFFFF;
}

#submitDiv {
  position: relative;
  z-index: 1;
}

#submitDiv::before {
  content: "";
  position: absolute;
  top: o;
  left: 0;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  background-color: #FF8200;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: -1;
}

#submitButton {
  display: block;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding: 10px 0;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8%;
  margin-left: 20%;
  text-align: center;
  width: 60%;
  font-style: oblique;
  letter-spacing: 3px;
}

#icons {
  color: #FF8200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

#icons .github {
  margin-right: 25%;
}

#icons .linkedin {
  margin-left: 55%;
}
/*# sourceMappingURL=main.css.map */