$orange: #FF8200;
$smokey: rgb(53, 54, 56);
$white: #FFFFFF;

body {
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;

    a {
        text-decoration: none;
    }
}
  
#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: minmax(100vh, auto);
}

#navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-auto-flow: column;
    display: grid;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 20;
}

#navLogo {
    display: grid;
    justify-content: start;
    align-content: center;
    padding-left: 10px;

    a {
        color: $orange;
    }
}

#navLinks {
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    column-gap: 10px;
    padding-right: 10px;
    font-size: 20px;

    a {
        color: $orange;
        font-style: italic;
    }
}
  
#landingPage {
    height: 90vh;
    padding-top: 10vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    background: url(../images/meamber.jpg);
    background-size: cover;
    position: relative;
    z-index: 2;
}

#landingPage::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 3;
}

#welcomeText {
    z-index: 4;
}

#welcomeUl {
    color: $white;
    margin: 45% 0 0 15%;
    display: flex;
    font-size: 3em;

    li {
        list-style: none;
        letter-spacing: 5px;
        font-style: italic;
        animation: blink 5s ease-out infinite;
    }
}

#welcomeUl li:nth-child(1) {
    animation-delay: .2s;
}

#welcomeUl li:nth-child(2) {
    animation-delay: .25s;
}

#welcomeUl li:nth-child(3) {
    animation-delay: .3s;
}

#welcomeUl li:nth-child(4) {
    animation-delay: .35s;
}

#welcomeUl li:nth-child(5) {
    animation-delay: 0.4s;
}

#welcomeUl li:nth-child(6) {
    animation-delay: 0.45s;
}

#welcomeUl li:nth-child(7) {
    animation-delay: 0.5s;
}

#welcomeUl li:nth-child(8) {
    animation-delay: 0.55s;
}

@keyframes blink {
    0% {
        color: $white;
        text-shadow: none;
    } 18% {
        color: $white;
        text-shadow: none;
    } 20% {
        color: $orange;
        text-shadow: 0 0 7px $orange , 0 0 20px $orange;
    } 30% {
        color: $white;
        text-shadow: none;
    } 35% {
        color: $orange;
        text-shadow: 0 0 7px $orange , 0 0 20px $orange;
    } 70% {
        color: $white;
        text-shadow: none;
    } 85% {
        color: $orange;
        text-shadow: 0 0 7px $orange , 0 0 20px $orange;
    } 90% {
        color: $white;
        text-shadow: none;
    } 90% {
        color: $white;
        text-shadow: none;
    }
}

#myName {
    margin-left: 3%;
    z-index: 4;
}

.myName {
    font-size: 0;
    color: transparent;
    background-image: url(../images/whiteText.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: repeat-x;
    animation: revealText1 5s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    span {
        color: $orange;
    }
}

.myNameP {
    font-size: 0;
    font-style: oblique;
    color: transparent;
    background-image: url(../images/whiteText.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: repeat-x;
    animation: revealText1 5s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    margin-left: 7%;
    
    span {
        color: $orange;
        font-style: oblique;
    }
}

@keyframes revealText1 {
    0% {
        font-size: 2em;
        background-size: 0px;
        background-position-y: 0%;
    } 10% {
        background-size: 10px;
        background-position-y: 0%;
    } 35% {
        background-position-y: 100%;
    } 45% {
        background-position-y: 100%;
    } 70% {
        background-size: 10px;
        background-position-y: 0%;
    } 100% {
        background-size: 100%;
        font-size: 2em;
    }
}

#showroomPage {
    height: 90vh;
    padding-top: 10vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/gallery.jpg);
    background-size: cover;
    background-position: center;
}

#slideShow {
    margin: 0 auto;
    width: 70%;
    max-width: 70%;
    height: 70%;
    text-align: center;

    input[type=radio] {
        display: none;
    }

    label {
        cursor: pointer;
        text-decoration: none;
    }
}

#slides {
    margin-top: 25.5%;
    padding: 2%;
    border: 3px solid $smokey;
    background-color: $smokey;
    position: relative;
    z-index: 1;
}

.outer {
    width: 100%;
    overflow: hidden;
    box-shadow: $smokey 0 8px 6px 8px;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0%;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slides .inner {
    transition: margin-left 1s cubic-bezier(0.800, 0.000, 0.200, 1.000);
    width: 400%;
    height: 170px;
    line-height: 0;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide1 {
    background-color: $white;
}

.slide2 {
    background-color: $white;
}

.slide3 {
    background-color: $white;
}

#slideControlButtons {
    margin: 10px 0 0 0;
    text-align: center;

    label {
        display: inline-block;
        width: 50px;
        height: 10px;
        background-color: $smokey;
        margin: 0 15px;
    }
}

#slide1:checked ~ #slideControlButtons label:nth-child(1),
#slide2:checked ~ #slideControlButtons label:nth-child(2),
#slide3:checked ~ #slideControlButtons label:nth-child(3) {
    background-color: $orange;
}

.projectCard {
    // border: 2px solid white;
    width: 220px;
    height: 155px;
    margin-left: -4%;
    padding: 4%;
    position: relative;
}

.cardTitle {
    position: absolute;
    width: 100%;
    height: 20px;
    padding-top: 5%;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    color: $white;
    // border: 2px solid white;
}

.cardGallery {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    // border: 2px solid violet;
}

#projectCard1 {
    background: url(../images/p1.jpg);
    background-size: cover;
}

#cardTitle1 {
    position: absolute;
    bottom: 60px;
    right: -60px;
    font-size: 20px;

    p {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

#cardGallery1 {
    color: $white;

    a {
        color: $white;
    }

    i:hover {
        color: $orange;
    }
}

#gh1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#web1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#projectCard2 {
    background: url(../images/p2.jpg);
    background-size: cover;
}

#cardTitle2 {
    position: absolute;
    bottom: 0;
    left: -15%;
}

#cardGallery2 {
    color: $white;

    a {
        color: $white;
    }

    i:hover {
        color: $orange;
    }
}

#gh2 {
    position: absolute;
    top: -45px;
    left: 3px;
}

#web2 {
    position: absolute;
    top: -10px;
    left: 3px;
}


#sagaPage {
    height: 90vh;
    padding-top: 10vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    background: url(../images/graywall.jpg);
    background-size: cover;
    // background-color: $smokey;
    position: relative;
}

#aboutMe {
    padding-top: 2%;
    font-size: 19px;
    color: $white;

    img {
        height: 100%;
        width: 100%;
    }
}

.circleImage {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

#circleImage1 {
    float: left;
    margin: 20px;
    shape-outside: circle();
}

#imageDiv1 {
    width: 200px;
    height: 200px;
    margin: 10% auto;
    transform: scale(0.8);
}

.cube {
    animation: rotateCube 20s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        line-height: 200px;
    }
}

.side1 {
    background: url(../images/all1.jpg);
    background-size: cover;
    background-position: center center;
    transform: translateZ(100px);
}

.side2 {
    background: url(../images/em1.jpg);
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) translateZ(100px);
}

.side3 {
    background: url(../images/meem.jpg);
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.side4 {
    background: url(../images/em2.jpg);
    background-size: cover;
    background-position: center center;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.side5 {
    background: url(../images/amberem1.jpg);
    background-size: cover;
    background-position: center center;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.side6 {
    background: url(../images/all2.jpg);
    background-size: cover;
    background-position: center center;
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotateCube {
    from, to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    } 16% {
        transform: rotateY(-90deg);
    } 33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    } 50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    } 66% {
        transform: rotateY(-270deg) rotateX(90deg);
    } 83% {
        transform: rotateX(90deg);
    } 100% {

    }
}

#circleImage2 {
    background: url(../images/flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin: 10px;
    width: 130px;
    height: 130px;
    shape-outside: circle();
    border-radius: 50%;
}

#networkPage {
    height: 90vh;
    padding-top: 10vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    video {
        width: 100%;
    }
}

#earth {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (min-aspect-ratio: 16/9) {
    #earth {
        width: 100%;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    #earth {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #earth {
        display: none;
    }

    #networkPage {
        background: url("../images/homeoffice.jpg");
        background-color: white;
        background-size: cover;
    }
}

.contactForm {
    width: 85%;
    height: 65%;
    max-width: 600px;
    background: $smokey;
    // background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: right;

    h1 {
        font-weight: 300;
        margin-bottom: 5%;
        font-style: oblique;
        font-size: 25px;
        color: $white;
    }
}

#nameField, #emailField, #subjectField, #messageField {
    margin: 3% 0 3% 0;
    padding: 1% 2%;

    label {
        display: block;
        text-align: left;
        text-transform: uppercase;
        font-size: 15px;
        font-style: oblique;
        font-weight: 300;
        color: $white;
    }

    input, textarea {
        width: 100%;
        border: none;
        background: none;
        outline: none;
        font-size: 18px;
        margin-top: 2%;
        border-top: 2px solid $orange;
        color: $white;
    }
}

#submitDiv {
    position: relative;
    z-index: 1;
}

#submitDiv::before {
    content: "";
    position: absolute;
    top: o;
    left: 0;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    background-color: $orange;
    filter: blur(15px);
    z-index: -1;
}

#submitButton {
    display: block;
    // background-color: $orange;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    padding: 10px 0;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8%;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    font-style: oblique;
    letter-spacing: 3px;
}

#icons {
    color: $orange;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5%;
    left: 30%;

    .github {
       margin-right: 25%; 
    }

    .linkedin {
        margin-left: 55%;
    }
}

